.contato {
  padding-top: 120px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: 4fr 8fr;
  align-items: start;
  gap: 40px;
}

.wpcf7-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}

.wpcf7-form label {
  display: block;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 8px;
}

.wpcf7-form .grid-2 {
  grid-column: span 2;
}

.wpcf7-form input,
.wpcf7-form textarea {
  border: 0;
  width: 100%;
  background: rgba($color: $cor-p2, $alpha: 0.6);
  padding: 20px;
  border-bottom: 1px solid $cor-b2;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: $cor-b2;
  font-size: 1rem;
  font-weight: 500;
}

.wpcf7-form input:focus,
.wpcf7-form textarea:focus {
  outline: none;
  border-bottom: 1px solid $cor-v1;
}

.wpcf7-form textarea {
  margin-bottom: 18px;
}

.wpcf7-form .wpcf7-submit {
  max-width: max-content;
  background: linear-gradient(180deg, #E05060 0%, #CD4352 100%);
  display: inline-block;
  border-radius: 5px;
  padding: 1rem 2.5rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
  border: 0;
  color: $cor-b1;
  cursor: pointer;

  &:hover {
    background: linear-gradient(180deg, #E05060 0%, #CD4352 80%);
  }

  &.seta {
    display: flex;
    align-items: center;

    &::after {
      content: "";
      display: inline-block;
      background: url('../../dist/img/seta.svg');
      width: 18px;
      height: 18px;
      margin-left: 10px;
      transition: all 0.2s;
    }

    &:hover::after {
      transform: translateX(4px);
    }
  }
}

.wpcf7 form.invalid .wpcf7-response-output {
  grid-column: span 2;
  padding: 15px 10px;
  margin: 10px 0;
  background: $cor-a1;
  border-radius: 5px;
  color: $cor-p2;
}

.wpcf7-not-valid-tip {
  margin-bottom: 10px;
}

@media (max-width:850px) {
  .contato {
    grid-template-columns: 1fr;
  }
}

@media(max-width:600px) {
  .wpcf7-form {
    display: block;
  }
}