$cor-v1: #e05060;
$cor-p1: #111111;
$cor-p2: #151515;
$cor-b1: #f0f2f4;
$cor-b2: #cccccc;

.cor-v1 {
  color: $cor-v1;
}

.cor-p1 {
  color: $cor-p1;
}

.cor-p2 {
  color: $cor-p2;
}

.cor-b1 {
  color: $cor-b1;
}

.cor-b2 {
  color: $cor-b2;
}